<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security.xsd">
    <!-- init property files -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
            <list>
                <value>classpath*:default.properties</value>
            </list>
        </property>
        <property name="fileEncoding">
            <value>utf-8</value>
        </property>
    </bean>

    <!-- 对模型视图名称的解析，即在模型视图名称添加前后缀(如果最后一个还是表示文件夹,则最后的斜杠不要漏了) 使用JSP-->
    <!-- 默认的视图解析器 在上边的解析错误时使用 (默认使用html)- -->
    <bean id="defaultViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/"/><!--设置JSP文件的目录位置-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- springmvc文件上传需要配置的节点-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="20971500"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="resolveLazily" value="true"/>
        <property name="maxInMemorySize" value="40960"></property>
    </bean>

    <!-- 添加SpringMVC对json的支持 -->
    <bean id="mappingJackson2HttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
                <value>application/x-www-form-urlencoded; charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/plain;charset=UTF-8</value>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
    </bean>

    <bean id="springSecurityFilterChain"
          class="org.springframework.security.web.FilterChainProxy">
        <security:filter-chain-map request-matcher="ant">
            <security:filter-chain pattern="/index.jsp**" filters="none" />
            <security:filter-chain pattern="/index.html**" filters="none" />
            <security:filter-chain pattern="/404.jsp**" filters="none" />
            <security:filter-chain pattern="/500.jsp**" filters="none" />
            <!--<security:filter-chain pattern="/chrome.zip**" filters="none" />-->
            <!--<security:filter-chain pattern="/**" filters="menuFilter" />-->
            <security:filter-chain pattern="/**" filters="none" />
        </security:filter-chain-map>
    </bean>

    <!-- 通用拦截器bean -->
    <bean id="genericInterceptor" class="com.tc.common.interceptor.GenericInterceptor" />

    <!-- webToken 拦截 可用于检测重复提交-->
    <bean id="webTokenInteceptor" class="com.tc.common.interceptor.WebTokenInteceptor"/>

    <!-- 记录日志 -->
    <bean id="webLogInteceptor" class="com.tc.common.interceptor.WebLogInteceptor" />

    <!-- 针对WebInput和WebOutput定制的解析器 -->
    <bean id="inOutHandlerMethodResolver" class="com.tc.common.resolver.InOutHandlerMethodResolver" />
    <!-- 针对注解@FormModel定制的解析器 -->
    <bean id="formModelMethodArgumentResolver" class="com.tc.common.resolver.FormModelMethodArgumentResolver" />

    <!-- tiles视图解析器 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass">
            <value>org.springframework.web.servlet.view.tiles3.TilesView</value>
        </property>
        <property name="order" value="1" />
    </bean>

    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>classpath:tiles/tiles-template.xml</value>
                <value>classpath:tiles/tiles-houtai.xml</value>
            </list>
        </property>
    </bean>

    <!-- 覆盖原exception处理对象 -->
    <bean id="exceptionHandler"
          class="com.tc.common.interceptor.WebHandlerExceptionResolver" />

    <bean id="restfulLogInteceptor" class="com.tc.common.interceptor.RestfulLogInteceptor" />
</beans>